#navbar{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

h1{
  text-align: center;
}

#homeview{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#PlushieView{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#PlushieView p{
  margin: 10px;
}

#PlushieCart{
  background-color: black;
  color: aliceblue;
  margin-right: 10%;
  padding: 100px;
}



#plushView{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#plushView img{
  width: 200px;
  height: 200px;
}

#singlePlushy{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
